
header {
    position: relative;
}




.fav-container {
    position: absolute;
    top: 70px;
    right: 29px;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffafa;
    margin: 0;
    padding: 0;
}



    /* transicao suave ao mudar de imagem */
    .carousel-inner {
        transition: transform 0.1s ease-in-out;
    }


    .carousel-item {
        transition: all 0.3s ease-in-out; /*transicao*/
        opacity: 0;
    }

    .carousel-item.active {
        opacity: 1; 
    }
    section {
margin-top: 0px;  /* espaço entre o cabeçalho e o carrossel */
margin-bottom: 100px; /* espaço entre o carrossel e o rodape */
}

.row {
display: flex;
justify-content: center;
}

/* estilo individual para cada imagem */
.marca-high {
width: 115px;  /* a largura será 100% do seu contêiner */
height: 1000px;  /* altura fixa */
object-fit: contain;  /* manter a proporção da imagem */
}

.marca-chronic {
width: 20px;  /* A largura será automática */
height: 8px;  /* Altura fixa */
object-fit: contain;
}

.marca-suf {
width: auto;  /* A largura será automática */
height: 80px;  /* Altura fixa */
object-fit: contain;
}


#carrossel {
    margin-bottom: 0px; /* Define uma margem inferior pequena */
}

section > .container {
    padding-top: 20px; /* Adiciona um pouco de espaço no topo da seção */
}


.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

footer  {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0; /* Posiciona o rodapé na parte inferior */
    width: 100%; /* Ocupa toda a largura da página */
    padding: 10px 0;
    text-align: center;
}
.social-icons {
    position: absolute;
    bottom: 10px; /* Ajusta a posição dos ícones 10px acima do fundo */
    right: 15px;  /* Posiciona os ícones 10px da borda direita */
    display: block; /* Exibe os ícones em linha (horizontalmente) */
    gap: 0px; /* Espaço entre os ícones */
}

.social-icons a {
    text-decoration: none; /* Remove sublinhado */
}

/* Tamanho padrão para os ícones (Instagram) */
.social-icons img {
    width: 50px; /* Tamanho padrão para o Instagram */
    height: 50px; /* Tamanho padrão para o Instagram */
}

/* Tamanho específico para o ícone do WhatsApp */
.social-icons .whatsapp-icon {
    width: 61px; /* Define um tamanho maior para o WhatsApp */
    height: 61px; /* Define um tamanho maior para o WhatsApp */
}

.social-icons a:hover img {
    opacity: 0.8; /* Efeito ao passar o mouse */
    transition: opacity 0.3s ease;
}



.fontnavbar {
    font-size: 15pt;
}
