body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffafa;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

.fontnavbar {
    font-size: 15pt;
}
